

<ion-content>
  <div class="containerMain">
    <ion-title>Mis Evaluaciones</ion-title>
  <ion-list [inset]="true">
    <ion-title>Platos</ion-title>
    <ion-item button>
      <ion-avatar slot="start">
        <img src="https://img-global.cpcdn.com/recipes/41b339ebe1a9cfb0/1200x630cq70/photo.jpg" alt="avatar" />
      </ion-avatar>
      <ion-label >Pure con tomate</ion-label>
      <ion-icon slot="end" name="pencil"></ion-icon>

      <ion-icon></ion-icon>
    </ion-item>
    <ion-item button>
      <ion-avatar slot="start">
        <img src="https://previews.123rf.com/images/kiwitaonga/kiwitaonga1506/kiwitaonga150600001/40879095-close-up-de-pl%C3%A1tano-en-rodajas-en-un-plato-con-pl%C3%A1tanos-sin-pelar-en-el-fondo.jpg" alt="avatar" />
      </ion-avatar>
      
      <ion-label >Platano en Rodaja</ion-label>
      <ion-icon slot="end" name="pencil"></ion-icon>
    </ion-item>

  </ion-list>
  <ion-list [inset]="true">
    <ion-title>Restaurantes</ion-title>
    <ion-item button>
      <ion-avatar slot="start">
        <img src="https://lh3.googleusercontent.com/p/AF1QipNHlUwrlkE8yJgYjHMIqtVKoWgj-yeCUMx6jeFh=s1360-w1360-h1020" alt="avatar" />
      </ion-avatar>
      <ion-label >Aji y Limon</ion-label>
      <ion-icon slot="end" name="pencil"></ion-icon>

      <ion-icon></ion-icon>
    </ion-item>
    <ion-item button>
      <ion-avatar slot="start">
        <img src="https://lh3.googleusercontent.com/p/AF1QipNoSn095o0yKkVZmQzzIaNYnZaB9_uw6fvHZR3B=s1360-w1360-h1020" alt="avatar" />
      </ion-avatar>
      
      <ion-label >Donde La tia Sonia</ion-label>
      
      <ion-icon slot="end" name="pencil"></ion-icon>
    </ion-item>

  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>
  </div>
</ion-content>