ion-searchbar {
    --background: #ffffff; /* Fondo blanco */
    --color: #333333; /* Color del texto gris oscuro */
    --placeholder-color: #666666; /* Color del placeholder gris más claro */
    --clear-button-color: #666666; /* Color del icono de eliminar */
    --cancel-button-color: #666666; /* Color del botón de cancelar (si está habilitado) */
    --icon-color: #666666; /* Color de los íconos de búsqueda */
    --border-radius: 10px ;
  }
  