@keyframes scaleUp {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .contentLogo img {
    animation: scaleUp 0.5s ease-out;
  }
  
  
  .containerMain {
      margin-top: 60px;
    }
  .contentLogo{
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
      img{
          padding: 5%;
          width: 50%;
      }
  }
  
  ion-content {
      --background: var(--ion-color-primary)  ; /* Cambia el color de fondo aquí */
    }
    