// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #d9aa72;
    --ion-color-blank: #ffffff; /* Otro color adicional */
    --ion-color-secondary: #d89050; /* Cambiar color secundario */
    --ion-color-tertiary: #bf613d;
    --ion-color-cuartary: #983b39; /* Cambiar color primario */
    --ion-color-extra: #fae4c9; /* Cambiar color primario */

  }